[Unit]
Description=Camera to determine the laptop display brightness
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/berga/Progetti/cam2bright/main.py

[Install]
WantedBy=multi-user.target
